body {
	font-family: 'Lucida Grande','TsukuARdGothic-Regular','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
	text-align: center;
}

.Lucida{
	font-family: 'Lucida Grande','TsukuARdGothic-Regular','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.problem p:not(.problem_title){
	text-align: left;
	margin-left : 20px;
}

.problem li:not(.problem_title){
	text-align: left;
}

.problem .small_task{
	margin-left : 20px;
}

.problem .problem_title{
	text-align: left;
	font-size: 30px;
}

.problem h4{
	text-align: left;
	font-size: 25px;
	margin-left : 20px;
}

div:not(.problem):not(.simple_div):not(.general_div) {
	background-color: #cfd;
	margin: auto;
}

.code {
	font-size: 20px;
	text-align: left;
	font-family: "Courier", sans-serif;
}

.Courier{
	font-family: "Courier", sans-serif;
}

.simple_div {
	text-align: left;
}

.normal_div {
	width: 1200px;
}

.question_div {
	width: 1500px;
}

.problem_div {
	width: 1500px;
}

p:not(.title):not(.back_button):not(.forty):not(.thirty) {
	font-size: 20px;
}

a:not(.back_button) {
	font-size: 20px;
}

li:not(.title) {
	font-size: 20px;
}

.title {
	padding-top: 50px;
	font-size: 40px;
}

.problem {
	margin-left : 150px;
	margin-right : 100px;
	margin-top: 60px;
	margin-bottom: 200px;
}

.back_button {
	font-size: 30px;
	margin-right: 200px;
	text-align: right;
	margin-bottom: 100px;
	color: #45d;
}

a {
	display: block;
	text-decoration: none;
}

.thirty *{
	font-size: 30px;
}

.forty *{
	font-size: 40px;
}

pre {
	white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.blue_table{
	display: inline-block;
	border-collapse: collapse;
}

.blue_table th, .blue_table td{
	font-size: 25px;
	border: solid 3px #38d;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

easy{
	color: #3b1;
}

normal{
	color: #ca0;
}

hard{
	color: #d00;
}